.nav {
  display: flex;
  font-size: 18px;
  height: 70px;
  color: #fff;
  background-color: #498467;
}

.container {
  display: flex;
  width: 1200px;
  margin: auto;
}

.menu {
  display: flex;
  align-items: center;
  gap: 50px;
  color: #fff;

  position: relative;
}

.nav ul li a {
  border: 1px solid transparent;
}

.dropdownMenu {
  position: fixed;
  width: 150px;
  background-color: #fff;
}

.dropdownMenu li {
  padding: 5px;
  margin: 0 auto;
}

.nav a {
  color: #592941;
}

.nav a:hover {
  color: #b2d3a8;
}

.nav a:active {
  color: #777;
}

.subsubmenu a {
  color: #777;
}
