.searchbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.searchbar input[type="text"] {
  padding: 11px;
  width: 300px;
  border: none;
  border-radius: 2px 0 0 2px;
}

.searchbar button[type="submit"] {
  padding: 6px 15px;
  background-color: #52B788;
  color: #fff;
  border: none;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}

.icon {
  font-size: 22px;
}